/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


*, *::before, *::after {
    box-sizing: border-box;
}

/*  
  all css properties 
*/

:root {

  /* background colors */
    --primary-bg-color : rgb(28,28,28) ;   
    --secondary-bg-color : rgb(30,30,31);  
    --primary-bdr-color : rgb(56,56,56) ; 
}



